{% extends "base.html" %}
{% load static %}

{% block title %}Detalles del producto{% endblock %}

{% block navbar %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<form class="search" action="." method="get" aria-label="Buscar por ID">
    <input
        type="text"
        name="id"
        id="search-id"
        pattern="\d*"
        inputmode="numeric"
        placeholder="Buscar por ID"
        oninput="this.value = this.value.replace(/[^0-9]/g, '')"
        autocomplete="off"
    />
    <button type="submit" class="search-btn" aria-label="Buscar producto por ID">
        <img src="{% static 'icons/search.svg' %}" alt="">
    </button>
</form>
{% endblock %}

{% block content %}
    <h1>Detalles del producto</h1>
    {{product_id}}
{% endblock %}
